html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: sans-serif;
    font-size: 5vmin;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}

#mainGame {
    width: 55%;
    height: 100%;

    float: left;
}
/*#sidebar {
    float: right;
    width: 40%;
    height: 100%;
}
#player1 {
    background-color: #D55336;
    width: 100%;
    height: 25%;
    color: #FFF;
}
#player2 {
    background-color: #30A7C2;
    width: 100%;
    height: 25%;
}
#player1-count {
    position: absolute;
    right: 0;
    bottom: 75%;
    line-height: 1em;
}
#player2-count {
    position: absolute;
    right: 0;
    bottom: 50%;
    line-height: 1em;
}
.tile {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
}
#controls {
    background-color: #84898c;
    width: 100%;
    height: 50%;
}
#player1-type {
    position: absolute;
    bottom: 75%;
}
#player2-type {
    position: absolute;
    bottom: 50%;
}
*/
#tophalf {
    float: right;

    width: 100%;
}
#ruleset {
    float: right;
    width: 100%;
    color: #000;
    background-color: #868686;
    border-radius: 2px;
    text-align: center;
    margin: 1px;
}
#player1 {
    float: right;
    width: 100%;

    background-color: #d60000;
    color: #000;

    border-radius: 2px;
    margin: 1px;
}
#player2 {
    float: right;
    width: 100%;

    background-color: #0055d6;
    color: #fff;

    border-radius: 2px;
    margin: 1px;
}
#controls {
    float: right;
    width: calc(100% - 2px);
    color: #000;
    background-color: #979797;

    border-radius: 2px;
    margin: 1px;

    flex: 1;
}
#controls-inner {
    width: 100%;
    height: 100%;
    display: table;
}
#hud {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
}
#instructions {
    font-size: 0.75em;
    vertical-align: middle;
    text-align: center;
    column-span: 3;
}
#turn {
    text-align: center;
}
.button {
    width: 33.3%;
    margin: 3px;
    background-color: #F5F5F5;
    color: #000;
    border-radius: 3px;
    height: 25%;
    text-align: center;
}

@media (orientation: portrait) {
    #hud {
        display: block;
        width: 100%;
    }
    #tophalf {
        float: none;
        width: 100%;
        height: 25%;
        position: relative;
    }
    #controls {
        float: none;
        width: calc(100% - 2px);
        height: 25%;
        position: absolute;
        left: 0;
        top: 75%;
    }

    #mainGame {
        float: none;
        width: 100%;
        height: 50%;
        top: 25%;
        position: absolute;
        left: 0;
    }

    #player1 {
        width: calc(50% - 2px);
        float: left;
        height: 75%;
    }
    #player2 {
        width: calc(50% - 2px);
        float: right;
        height: 75%;
    }

    /*#player1 {
        width: 30%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        display: inline-block;
    }
    #player2 {
        width: 30%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 30%;

        display: inline-block;
    }
    #controls {
        width: 40%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 60%;

        display: inline-block;
    }
    #player1-type {
        bottom: 0;
    }
    #player2-type {
        bottom: 0;
    }

    #player1-count {
        left: 0;
        top: 1.5em;
    }
    #player2-count {
        left: 0;
        top: 1.5em;
    }*/
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}